ul {
    list-style-type: none;
    margin: 14px 20px 14px 14px;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}

li {
    float: right;
}

li.extra-menu {
	margin: -5px;
	margin-right: 4px;
}

li.login {
	border: 1px solid #4285f4;
	border-radius: 2px;
    outline: none;
    background: #4285f4;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
}

li.login a {
	color: #fff;
	font-weight: bold;
}

li a {
	font-family: arial,sans-serif;
	font-size: 10pt;
    display: block;
    color: #404040;
    text-align: center;
    padding: 6px 12px;
    text-decoration: none;
}

li.login a:hover {
	background-color: #424242;
}

li a:hover {
    background-color: #fff;
}

#logo {
	position: relative;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}

.logo-subtext {
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    left: 106px;
    position: relative;
    top: -21px;
    white-space: nowrap;
}

#text-search {
	font-size: 16px;
	font-family: arial, sans-serif;
	margin-bottom: 20px;
	padding: 5px;
	height: 28px;
	width: 560px;
	top: 39px;
	left: 1px;
}

.button {
	color: #757575;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	font-size: 13px;
	font-weight: bold;
	font-family: arial, sans-serif;
	margin: 11px 4px;
	padding-top: 11px;
	padding-right: 16px;
	padding-bottom: 11px;
	padding-left: 16px;
}

.button:hover {
	color: #222222;
	border: 1px solid #bababa;
	font-size: 13px;
	font-family: arial, sans-serif;
	margin: 11px 4px;
	padding-top: 11px;
	padding-right: 16px;
	padding-bottom: 11px;
	padding-left: 16px;
}

/* footer */

div#footer {
	display: block;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    bottom: 0;
    font-family: arial,sans-serif;
    font-size: 10pt;
    height: 35px;
    position: absolute;
    height: 5%;
    width: 99%;
}

span#fsr {
	float: right;
	margin-right: 25px;
}

span#fsl {
	float: left;
}

._Gs {
	color: #666;
	padding-left: 27px;
    margin: 0 !important;
    text-decoration: none;
}

._Gs:hover {
	text-decoration: underline;
}